<div class="container">

    <!-- Breadcrumb Navigation -->
    <nav class="breadcrumb mt-2 mb-5" aria-label="breadcrumbs">
    <ul>
        <li><a class="has-text-primary" href="/">Home</a></li>
        <li><a class="has-text-primary" href="/users">Users</a></li>
        <li><a class="has-text-primary" href="/users/<%= current_user.slug %>">Your Profile</a></li>
        <li class="is-active"><a aria-current="page" href="#">Delete Account</a></li>
    </ul>
    </nav>

    <h2 class="title has-text-centered">Are you sure you want to delete your account?</h2>
    <div class="columns is-centered pt-4">
        <div class="column is-one-third">
            <div class="level">
                <form action="/users/<%= current_user.slug %>/delete" method="post">
                    <input type="hidden" id="hidden" name="_method" value="delete">
                    <input type="submit" class="level-item button is-primary px-6 mx-2" name="delete" id="delete" value="Yes, goodbye!">
                </form>
                <a href="/users/<%= current_user.slug %>" class="level-item button is-primary mx-2">No, take me back!</a>
            </div>
        </div>
    </div>
</div>