<div class="container pt-6">
    <h2 class="is-size-3 has-text-weight-semibold">Recent Users</h2>

    <section class="section">
        <table class="table is-striped is-fullwidth">
            <tbody>
            <% User.all.each do |user| %>
                <tr>
                    <td>
                        <a class="has-text-grey" href="/users/<%= user.id %>"><%= user.username %></a>
                    </td>
                    <td>
                        <p><%= user.supplies.count %> Supplies</p>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </section>

</div>