<div class="container">

    <!-- Breadcrumb Navigation -->
    <nav class="breadcrumb mt-2 mb-5" aria-label="breadcrumbs">
    <ul>
        <li><a class="has-text-primary" href="/">Home</a></li>
        <li class="is-active"><a aria-current="page" href="#">Login</a></li>
    </ul>
    </nav>

		<h2 class="title has-text-centered">Login</h2>

		<div class="columns pt-4 is-centered">
			<div class="column p-5 is-8-tablet is-half-desktop is-primary has-background-primary-light box">

				<!-- FORM -->
				<form action="/login" method="POST">

					<!-- username -->
					<div class="field">
						<label class="label" for="username">Username:</label>
						<div class="control has-icons-left">
							<input class="input" type="text" name="user[username]" id="username">
							<span class="icon is-small is-left">
								<i class="fas fa-user"></i>
							</span>
						</div>
					</div>

					<!-- password -->

					<div class="field">
						<label class="label" for="password">Password:</label>
						<div class="control has-icons-left">
							<input class="input" type="password" name="user[password]" id="password">
							<span class="icon is-small is-left">
								<i class="fas fa-lock"></i>
							</span>
						</div>
					</div>

					<input class="button is-primary mt-2" type="submit" value="Login">

				</form>

			</div>
		</div>

	</div>