<div class="container pt-6">
    <h2 class="title has-text-centered">Sign Up</h2>

    <div class="columns pt-4 is-centered">
        <div class="column p-5 is-8-tablet is-half-desktop is-primary has-background-primary-light box">

            <!-- FORM -->
            <form action="/signup" method="POST">

                <!-- username -->
                <div class="field">
                    <label class="label" for="username">Username:</label>
                    <div class="control has-icons-left">
                        <input class="input" type="text" name="user[username]" id="username">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                </div>

                <!-- email -->
                <div class="field">
                    <label class="label" for="email">Email Address:</label>
                    <div class="control has-icons-left">
                        <input class="input" type="email" name="user[email]" id="email">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                </div>

                <!-- password -->

                <div class="field">
                    <label class="label" for="password">Password:</label>
                    <div class="control has-icons-left">
                        <input class="input" type="password" name="user[password]" id="password">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                </div>

                <!-- confirm password -->
                <div class="field">
                    <label class="label" for="password_confirmation">Confirm Password:</label>
                    <div class="control has-icons-left">
                        <input class="input" type="password" name="user[password_confirmation]" id="password_confirmation">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                </div>

                <input class="button is-primary mt-2" type="submit" value="Sign Up">

            </form>

        </div>
    </div>

</div>