<div class="container pt-6">
    <h2 class="title">
        <% if @user == current_user %>
        Hi there, <%= @user.username %>!
        <% else %>
        <%= @user.username %>'s Profile
        <% end %>
    </h2>
</div>