

<div class="container pt-6">
    <h2 class="is-size-3 has-text-weight-semibold has-text-centered">New Supply</h2>

            <!-- FORM -->
    <section class="section">
        <form action="/supplies" method="POST">
            <div class="columns is-centered">
                <div class="column m-4 p-5 is-half has-background-primary-light box">

                    <!-- name -->
                    <div class="field">
                        <label class="label" for="name">Name:</label>
                        <div class="control">
                            <input class="input" type="text" name="supply[name]" id="name">
                        </div>
                    </div>

                    <!-- category -->
                    <div class="field">
                        <label class="label" for="category">Category:</label>
                        <div class="control level">
                            <div class="select level-left" id="category_select">
                                <select name="supply[category_name]" id="category_name">
                                    <option value="asdfasdf" disabled selected>Select</option>
                                    <% Category.all.each do |category| %>
                                    <option value="<%= category.name %>"><%= category.name %></option>
                                    <% end %>
                                    <option value="" id="new_category">--New Category--</option>
                                </select>
                            </div>
                            <div class="level-right" id="new_category_name">
                                <input type="text" class="input level-item" name="supply[category_name]">
                            </div>
                        </div>
                    </div>
                    
                    <!-- description -->
                    <div class="field">
                        <label class="label" for="description">Description:</label>
                        <div class="control">
                            <textarea class="textarea" type="textarea" name="supply[description]" id="description"></textarea>
                        </div>
                    </div>
                <input class="button is-primary mt-2 has-text-centered" type="submit" value="Create Supply">
                </div>
                
            </div>
        </form>
    </section>

</div>

