<section class="hero">
    <div class="hero-body">
        <div class="columns level">
            <div class="column">
                <p class="title">Welcome to ArtBox!</p>
                <p class="subtitle">ArtBox is a digital supply library for artists.</p>
                <p>Use ArtBox to keep track of what supplies you own, traditional or digital. ArtBox makes it easy to create catalogues or even wishlists you can share with your friends.</p>
            </div>
            <div class="column">
                <img src="images/Artist-amico.png" alt="">
            </div>
        </div>
    </div>
</section>

